
.pokedex{

  margin-left: 300px;
  	margin-top: 105px;
	position: relative;

}

.questionSet1{
  position: absolute;
  margin-left: 26px;
  margin-top: -410px;
  z-index: 2;
  float: center;
}
.questionSet2{
  position: absolute;
  margin-left: 26px;
  margin-top: -410px;
  z-index: 2;
  float: center;
}
.questionSet3{
  position: absolute;
  margin-left: 26px;
  margin-top: -410px;
  z-index: 2;
  float: center;
}
.questionSet4{
  position: absolute;
  margin-left: 26px;
  margin-top: -410px;
  z-index: 2;
  float: center;
}
.questionSet5{
  position: absolute;
  margin-left: 26px;
  margin-top: -410px;
  z-index: 2;
  float: center;
}
.questionSet6{
  position: absolute;
  margin-left: 26px;
  margin-top: -410px;
  z-index: 2;
  float: center;
}
form{
	margin-top: 300px;
	margin-left: 400px;
}

h2{
	margin-top: -510px;
}
header{
	  margin-left: 300px;
	position: relative;
}
.mainArea1{
	  margin-left: 300px;
	position: relative;
}
body{
  background: #D3D3D3;
}
.startButton{
	margin-left: 212px;
}
.mainArea1 p{
	margin-left: 90px;
}
audio{
  position: absolute;
  margin-top: 530px;
}
.usersFeedback{
	position:absolute;
	margin-left: 400px;
	margin-top: -310px;
	z-index: 3;
	font-size: larger;
}
.usersCurrentScoreCorrect{
	position:absolute;
	margin-left: 49px;
	margin-top: -300px
}
.nextQuestion{
	position: absolute;
	margin-left: 420px;
	margin-top: -260px;
}
